<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concert List</title>
</head>
<body>
    <h1>Concert List</h1>
    <a href="/add-concert/">Add Concert</a>
    <!-- TODO: show delete link for each concert -->

    <!-- TODO: Add list of concerts -->
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Performer</th>
            <th>Date</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        <tr th:each="concert : ${concerts}">
            <td th:text="${concert.id}">1</td>
            <td th:text="${concert.title}">Concert Title</td>
            <td th:text="${concert.performer}">Performer Name</td>
            <td th:text="${#dates.format(concert.date, 'yyyy-MM-dd')}">2025-08-25</td>
            <td th:text="${concert.description}">Concert Description</td>
            <td>
                <a th:href="@{/delete-concert/{id}(id=${concert.id})}">Delete</a>
            </td>
        </tr>
    </table>

    <br/>
    <a href="/delete-concert">Delete All Concerts</a>
</body>
</html>
